<FilesMatch "\.php$">
    Require all denied
</FilesMatch>

<Files "edit_manajemen.php">
    Require all granted
</Files>
<Files "proces_laporan.php">
    Require all granted
</Files>
<Files "hapus_manajemen.php">
    Require all granted
</Files>
<Files "hapus_keluhan.php">
    Require all granted
</Files>
<Files "proces_respon.php">
    Require all granted
</Files>
<Files "login_admin.php">
    Require all granted
</Files>
